.about-btn {
  position: absolute;
  bottom: 140px;
  left: 90px;
  width: 134px;
  color: #fff;
  height: 39px;
  background: #FF4412;
  border-radius: 200px;
  border-color: transparent;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}