.services-info {
  @include make-row();
  padding-top: 164px;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    justify-content: left;
  }

  @include media-breakpoint-up(md) {
    justify-content: left;
  }
}
